---
layout: archive
title: "Public Codes"
permalink: /codes/
author_profile: true
---

{% include base_path %}

{% for post in site.codes reversed %}
  {% include archive-single.html %}
{% endfor %}

This section is still in progress, but if you dig into my github repositories, you will find everything that is supposed to be here.


### Replication codes of papers

##### *"Uninsured Idiosyncratic Risk and Aggregate Saving"* - Aiyagari (1994)
Discrete time <br>
Continuous time

##### *"Risk Management: Coordinating Corporate Investment and Financing Policies"* - Froot, Schaferstein and Stein (1993)

##### *"THE GARCH OPTION PRICING MODEL"* - Duan (1995)

##### *"Risk and Income Fluctuations in Emerging Economies"* - Arellano (2008)

##### *"Collateral, Risk Management, and the Distribution of Debt Capacity"* - Rampini and Viswanathan(2010)

##### *"Overborrowing and Systemic Externalities in the Business Cycle"* - Bianchi (2011)

##### *"Finite-State Approximation Of VAR Processes: A Simulation Approach"* - Stephanie Schmitt-Grohé and Martín Uribe (2014)

##### *"A Macroprudential Theory of Foreign Reserve Accumulation"* - Arce, Bengui and Bianchi (2022)


### Numerical stuff in Julia

##### Interpolation schemes in Julia
##### Multivariate Brownian simulation
##### Gradient and Hessian
Automatic differentiation <br>
Numerical differentiation
##### Tauchen method for a VAR process